<div class='backdrop js-backdrop'>
  <div class='modal'>
    <div class="modal-header">
      <button class='modal__close-btn' type='button' data-action="close-modal">
        <span>&#10006;</span>
      </button>
    </div>
    <div class="modal-wrapper">
    </div>
    <div class='modal__add-btns modal-footer'>
<!--            <button class='modal__btn js-watched' type='button'>add to Watched</button>-->
<!--            <button class='modal__btn js-queue' type='button'>add to queue</button>-->
<!--      {{!&#45;&#45; <button class='modal__btn js-queue' type='button'>remove from queue</button> &#45;&#45;}}-->
    </div>
  </div>
</div>