<!--
      Модальное окно
      Для того чтобы открыть, необходимо добавить на div.lightbox CSS-класс is-open
    -->
<div class="lightbox js-lightbox">
  <div class="lightbox__overlay"></div>
  <div class="lightbox__content">
    <img class="lightbox__image" src="" alt="" width="" heigth="" />
    <!-- <h1>"ASpIRiN M"</h1>
    <ul>
      <li>
        <img class="lightbox__image" src="" alt="" width="50" heigth="50" />
        <p>Островский Максим</p>
        <p>Team Lead</p>
      </li>
      <li>
        <img class="lightbox__image" src="" alt="" width="50" heigth="50" />
        <p>Андрийчук Анна/Scrum Master</p>
      </li>
      <li>
        <img class="lightbox__image" src="" alt="" width="50" heigth="50" />
        <p>Зеньо Роман / Developer</p>
      </li>
      <li>
        <img class="lightbox__image" src="" alt="" width="100" heigth="100" />
        <p>Суковский Игорь / Developer</p>
      </li>
      <li>
        <img class="lightbox__image" src="" alt="" width="100" heigth="100" />
        <p>Тищенко Сергей / Developer</p>
      </li>
    </ul> -->
  </div>
  <button type="button" class="lightbox__button" data-action="close-lightbox"></button>
</div>
